<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" 
          asp-href-include="/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
          
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>
